*{
    margin: 0px;
}
/* ----------------- header-------------------- */
body{
    font-family: "Inter", sans-serif;
}
.titulo{
    display: flex;
    background-color: #00669f;
    color: #f3f3f3;
}
.descuento {
    background-color: #1cd1b0;
    padding-left: 16px;/*20*/
    height: 17.25px; /*23*/
    line-height: 17.25px;
}
header img{
    margin-left: 8px;/*10*/
}
h1 {
    margin: 0px;
    height: 60px; /*80*/
    line-height: 60px;
    padding-left: 16px;/*20*/
    color: #f3f3f3;
}

section>nav{
    display: flex;
    justify-content: end;
    height: 30px;/*40*/
    line-height: 30px;
    background-color: #001D2D;
}
nav ul{
    display: block;
    list-style: none;
    margin: 0px;
}
nav li{
    display: inline;
    margin: 12px; /*15*/
}
nav a {
    text-decoration: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 16px;/*20*/
    cursor: pointer;
}
.menu{
    text-decoration: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 16px;/*20*/
    display: none; 
    padding-top: 3px;
}
nav .menu:last-child{
    margin-right: 15px;
}

/* ------------------ main --------------------- */
.main_principal{min-height: calc(100vh - 121px - 45.75px);}
.main_principal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_principal>section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: auto;
    max-width: 1440px;
}

article {
    width: 300px;
    height: 509px;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}
svg {
    fill: red;
    position: relative;
    top: 30px;
    left: 15px;
    align-self: flex-start;
}
.fondo {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.superior {
    position: relative;
    z-index: 1;
}
.avatar {
    width: 40%;
    border-radius: 50%;
    z-index: 2;
}
article h2 {
    margin-bottom: 0px;
}
article p {
    margin: 16px;
}
.descripcion {
    position: relative;
    top: -60px;
    background-color: #f3f3f3;
}
article button {
    margin-bottom: 10px;
    width: 128.48px;
    height: 48.52px;
    border: 0px;
    border-radius: 2px;
    background-color: #00669f;
    color: #f3f3f3;
}
article>div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Btn_mas{
    width: 82px;
    height: 82px;
}
/* ************** index Formularios *************** */
.main_formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    max-width: 1440px;

}
.form-titulo{
    max-width: 667.8px; /*954*/

    /* height: 106px; */
    text-align: center;
    background-color: #00669F;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 8px; /*20*/
    display: flex;
    align-items: center;
    flex-flow: wrap column;
}
form h1{
    height: 43px; /*72*/ 
    line-height: 43px;
    font-size: 28px;/*40*/
    font-weight: bold;
    color: #FBFFFD;
    display: flex;
}
form .parrafo{
    /* height: 34px; */
    font-size: 14px;/*20*/
    color: #FFFFFF;
    margin-bottom: 2px;/*20*/

}
.form_cuerpo{
    max-width: 667.8px; /*954*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16.1px; /*23*/
    background-color: #00669F;
    padding-bottom: 8px; /*45*/

}
.form_izquierdo{
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-wrap: wrap;
    background-color: #00669F;
    width: 325.5px; /*465*/
    /* height: 150px; */
}
.form_derecho{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: start;
    background-color: #00669F;
    width: 325.5px;
    /* height: 150px; */

}
label[for="nombre"],[for="especie"],[for="fecha"],[for="foto"]{
    margin-top: 7px; /*15*/
    margin-bottom: 5.6px; /*8*/
    height: 16.8px; /*24*/
    color: #FFFFFF;
    width: 238px; /*340*/
}
label[for="nombre"]::before{
    content: "* Nombre";
}
label[for="especie"]::before{
    content: "* Especie";
}
label[for="poderes"]{
    height: 14px;/*20*/
    margin-top: 14px;
    margin-bottom: 9.1px;/*13*/
    color: #FFFFFF;
}
label[for="heroes"]{
    height: 14px;/*20*/
    margin-top: 10px;
    color: #FFFFFF;
}

#nombre, select,#fecha{
    height: 40.95px;/*63*/
    width: 238px;/*340*/
    border-radius: 15.34px;
    border: 0px;
    padding-left: 4.9px;/*7*/
}
#txtTarea{
    height: 192.8px;/*292*/
    width: 231px;/*330*/
    border-radius: 15.34px;
    border: 0px;
    padding-left: 4.9px;/*7*/
    margin-top: 21px;/*30*/
    padding-top: 10.5px;/*15*/
    padding-left: 10.5px;
}
#foto{
    width: 221px; /*340*/
  color: white;
  border-radius: 5px;
  height: 20.8px;/*32*/
  cursor: pointer;
  font-size: 12.6px;/*18*/
  padding: 14px 0px;/*20*/
  text-align: center;
}
hr{
    border: 0.5px solid;
    width: 231px;
    color: #CCCCCC;
    /* margin-bottom: 30px; */
}

/* -------- checkbox ---------------------- */
.lbl-Check {
    display: block;
    position: relative;
    padding-left: 31.5px; /*45*/
    margin-bottom: 8.4px;/*12*/
    cursor: pointer;
    color: #FFFFFF;
  }
  .lbl-Check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
    .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    height: 16.25px;/*25*/
    width: 16.25px;
    background-color: #eee;
  }
  .radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16.25px;/*25*/
    width: 16.25px;
    background-color: #eee;
    border-radius: 50%;
  }
  .lbl-Check input:checked ~ .checkmark {
    background-color: #4DD1FB;
  }
  .lbl-Check input:checked ~ .radiomark {
    background-color: #4DD1FB;
  }

  .checkmark:after, .radiomark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .lbl-Check input:checked ~ .checkmark:after {
    display: block;
  }
  .lbl-Check input:checked ~ .radiomark:after {
    display: block;
  }

  .lbl-Check .checkmark:after {
    left: 6.3px;/*9*/
    top: 3.5px;/*5*/
    width: 3.5px;/*5*/
    height: 6.5px;/*10*/
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .lbl-Check .radiomark:after {
    top: 6.3px;/*9*/
    left: 6.3px;
    width: 5.2px;/*8*/
    height: 5.2px;
    border-radius: 50%;
    background: white;
  }


.form-boton{
    max-width: 667.5px;/*954*/ 
    height: 60px;/*106*/
    text-align: center;
    background-color: #00669F;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 8px;/*20*/
    display: flex;
    justify-content: center;

}
.form-boton button {
    width: 326.2px;/*466*/
    height: 53px;/*87*/
    background-color: #1CD1B0;
    color: #000000;
    font-size: 28px;/*40*/
    font-weight: bold;
    border-radius: 23.01px;
    border: 0px;
    cursor: pointer;
    padding: 0px 56px;/*80*/
    /* display: flex; */
}
/* -------------------- footer ----------------- */
footer {
    height: 45.75px; /*61*/
    line-height: 45.75px;
    text-align: center;
    color: #FFF9F9;
    background-color: #00669f;
}

@media only screen and (max-width: 768px) {
    nav ul{
        display: none;
    }
    .menu{
        display: block;
    }
    header h1{
        font-size: 30px;
    }
    .form-boton button {
        width: 340px;
    }
    /* .form_cuerpo{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    } */
    .form_izquierdo{
        width: 340px;
        align-content: center;
    }
    .form_derecho{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: start;
        width: 340px;
    
    }
    
    
}



    






